/*------------------------------------ FONTS --------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Indie+Flower&family=Montagu+Slab:opsz,wght@16..144,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/*------------------------------------ VARIABLES ---------------------------------------*/
:root {
  /*------ COLORS -------*/
  --color-blue: #a3d4f7;
  --color-dark-blue: #23254c;
  --color-gray: #807e7e;
  --color-body: #ffffff;
  /*------ FONTS -----------*/
  --primary-font: "DynaPuff", serif;
  /*------ FONT SIZE -------*/
  --bigest-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
}

/*-------------------------------------------- GLOBAL STYLES --------------------------------------*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body,
input,
button {
  font-family: var(--font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--color-body);
  text-shadow: 0.7px 0.7px 0.7px #2c242344;
  font-family: var(--primary-font);
  color: var(--color-dark-blue);
}

input,
button {
  border: none;
  outline: none;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font);
  font-weight: var(--font-medium);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-black);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*------------------------------------------- SCROLLBAR -------------------------------------------*/

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: var(--color-gray);
}

::-webkit-scrollbar-thumb {
  background: var(--color-dark-blue);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-dark-blue);
}

/*------------------------------------------- REUSABLE CLASSE ---------------------------*/

.container {
  margin-inline: 1.5rem;
}

.main {
  overflow: hidden;
}

/*------------------------------------ RESPONSIVE ---------------------------------------*/
@media (max-width: 320px) {
  .container {
    margin-inline: 1rem;
  }
}

@media (min-width: 1220px) {
  .container {
    margin-inline: auto;
  }
}
